.icono{ 
  text-align:center;
}

.margen-relleno {
margin-bottom: 80px;
margin-top: 80px;
padding-bottom: 30px;
padding-top: 30px;
} 

.margen-icono{
  margin-bottom: 20px;
  margin-top: 10px;
}

.fondo-primario{
  background: #c9c9c9;
}

.fondo-secundario{
  background: #a8daf0;
}