.icono{ 
  text-align:center;
}

.margen-relleno {
/* margin-bottom: 40px;
margin-top: 80px; */
margin-left: 60px !important;
margin-right: 60px !important;
padding-bottom: 60px;
padding-top: 60px;
}

.margen-icono{
  margin-bottom: 20px;
  margin-top: 10px;
}

.margen-card{
 margin-bottom: 25px !important;
}

.fondo-primario{
  background: #c9c9c9;
}

.fondo-secundario{
  background: #a8daf0;
}