*{
    margin:0;
    padding: 0;
}
.contenedor{
    background-color: rgb(27, 27, 27);
}

.cardsita {
    border-radius: 10px;
    margin-left: 10px !important;
}
.cabecera{
    background: #53b7f1;
    border-radius: 10px;
}
.pagar{
    position: relative;
    margin-left: 80px;
    background-color: #ffc200;
}
.section{
    position: relative !important;
    width: 100vw !important;;
    height: 100vh !important;;
    display: flex !important;;
    justify-content: space-between !important;;
    align-items: center !important;;
    padding: 100px !important;;
    box-sizing: border-box !important;;
    background: linear-gradient(180deg, #4156cc, #ffc200), url(../assets/img1.jpg) !important;;
    background-size: cover !important;;
    background-position: right !important;;

    background-repeat: no-repeat;
    background-blend-mode: screen;
}
.section .content{
    max-width: 700px;
    text-align: center;
}
.section .content h2{
    font-size: 3em;
    color: rgb(10, 10, 10);
}
.section .content p{
    font-size: 1.2em;
    color: rgb(51, 49, 49);
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
}