#login{
    margin-top: 10%;
    height: 478px;
}
#login-container button{
    width: 100%;
}
#fondo{
    background-image: url(../assets/fondo_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}
#login-container h2{
    color: white;
}
   
