.NavigationBar {
  text-align: center;
  background-color: rgb(216, 227, 232) !important;
  text-decoration: none;
  /* padding-bottom: 2% !important; */
}

.text-dark:hover {
  background: radial-gradient(circle at top left, #c9c9c9, #a8daf0);
  /* padding-bottom: 16% !important; */
}

